@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

* {
    direction: rtl;
    text-align: right;
}

ion-header-bar.bar-stable.bar.bar-header {
    direction: ltr;
}

button.button.back-button.buttons.button-clear.header-item {
    direction: ltr;
}

ion-view.intro.pane {
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
}

.bar-footer {
    height: auto!important;
    background: none;
}

div#logo {
    width: 100%;
    height: auto;
    margin: 0;
    float: none;
    margin-top: 10px;
}

div#logo img {
    max-width: 100%;
    width: 100%;
}
